@import '../../../node_modules/streamix-runtime/src/_utils.scss';

.countdown-timer {
  --horiz: #{dsu(0.5)};
  --vert: #{dsu(0.5)};
  --primaryBg: antiquewhite;
  --primaryText: lightcoral;
  --primaryFont: "Helvetica Neue", sans-serif;
  --secondaryBg: lightcoral;
  --secondaryText: white;

  width: 100%;
  height: 100%;
  
  .Backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primaryBg);
  }

  .Background {
    padding: 2rem 3rem;
    background-color: var(--secondaryBg);
    border-radius: 0.5rem 2rem;
  }

  .title {
    font-size: 3em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    font-weight: 500;
    color: var(--primaryText);
  }

  .digit {
    display: inline-block;
    font-size: 5em;
    font-style: normal;
    color: var(--secondaryText);
    font-weight: 600;
    width: 1em;
  }

  .Backdrop .DigitAnim {
    &-enter {
      transform: translateY(-20%);
    }
    &-leave-end {
      opacity: 0;
    }

    &-enter-active {
      transition: all 0.2s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */
    }

    &-leave-active {
      position: absolute;
      transition: all 0.5s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */
    }

    &-enter-end,
    &-leave {
      opacity: 1;
    }
  }
}

#streamix-opacity .countdown-timer {
  .Backdrop {
    opacity: 1;
    color: white!important;
    background-color: white!important;

    & * {
      visibility: hidden;
    }
  }
}
