@import '../../../node_modules/streamix-runtime/src/_utils.scss';

.fetch-json {
  --horiz: #{dsu(0.5)};
  --vert: #{dsu(0.5)};
  --primaryBg: lightcoral;
  --primaryText: wheat;
  --primaryFont: "Helvetica Neue", sans-serif;
  --secondaryText: white;

  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding: 2rem 3rem;

  .Comment {
    overflow: hidden;

    padding: dsu(0.85) dsu(1.25);
    background-color: var(--primaryBg);
    border-radius: dsu(0.25) dsu(1.5);
    flex-grow: 0;
    font-family: var(--primaryFont);
    
    font-size: dsu(0.6);
    
    h2 {
      color: var(--primaryText);
      font-size: 1.25em;
    }
    p {
      color: var(--secondaryText);
      font-size: 1.5em;
    }
  }

  .CommentAnim {
    &-enter,
    &-leave-end {
      transform: translateY(150%);
    }

    &-enter-active {
      transition: all 0.5s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */
    }

    &-leave-active {
      position: absolute;
      transition: all 0.6s;
      pointer-events: none; /* (optional) prevent hover to fire transition events causing early termination */
    }
  }
}

#streamix-opacity .fetch-json {
  .Comment {
    opacity: 1;
    color: white!important;
    background-color: white!important;
    opacity: 0.85;

    & * {
      visibility: hidden;
    }
  }
}

