@import '../../../node_modules/streamix-runtime/src/_utils.scss';

.confetti-celebrate {
  --horiz: 1vw;
  --vert: 1vw;

  .Confetti {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

#streamix-opacity .confetti-celebrate * {
  // opacity: 1;
  // color: white!important;
  // background-color: white!important;
}
